name: Docker

on:
  push:
    branches:
      - 'main'
      - 'feature/**'
    tags:
      - 'v*.*.*'
  schedule:
    - cron: '0 06 * * *'

jobs:

  docker:
    name: Docker
    runs-on: ubuntu-latest
    permissions:
      # id-token is used by cosign's OIDC based signing
      # https://blog.chainguard.dev/zero-friction-keyless-signing-with-github-actions/
      # TODO: make token conditional: "${{ github.event_name != 'pull_request' && github.repository_owner == 'regclient' && 'write' || 'none' }}"
      id-token: 'write'

    strategy:
      matrix:
        image: ["regctl", "regsync", "regbot"]
        type: ["scratch", "alpine"]

    steps:
    - name: Prepare
      id: prep
      run: |
        EXT=""
        if [ "${{ matrix.type }}" != "scratch" ]; then
          EXT="-${{ matrix.type }}"
        fi
        HUB_IMAGE=regclient/${{ matrix.image }}
        GHCR_IMAGE=ghcr.io/regclient/${{ matrix.image }}
        VERSION=noop
        if [ "${{ github.event_name }}" = "schedule" ]; then
          VERSION=edge
        elif [[ $GITHUB_REF == refs/tags/* ]]; then
          VERSION="${GITHUB_REF#refs/tags/}"
        elif [[ $GITHUB_REF == refs/heads/* ]]; then
          VERSION="${GITHUB_REF#refs/heads/}"
          if [ "${{ github.event.repository.default_branch }}" = "$VERSION" ]; then
            VERSION=edge
          fi
        elif [[ $GITHUB_REF == refs/pull/* ]]; then
          VERSION="pr-${{ github.event.number }}"
        fi
        VERSION="$(echo "${VERSION}" | sed -r 's#/+#-#g')"
        TAGS="${HUB_IMAGE}:${VERSION}${EXT},${GHCR_IMAGE}:${VERSION}${EXT}"
        if [[ $VERSION =~ ^v[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$ ]]; then
          MINOR="${VERSION%.*}"
          MAJOR="${MINOR%.*}"
          TAGS="${TAGS},${HUB_IMAGE}:${MINOR}${EXT},${HUB_IMAGE}:${MAJOR}${EXT}"
          TAGS="${TAGS},${GHCR_IMAGE}:${MINOR}${EXT},${GHCR_IMAGE}:${MAJOR}${EXT}"
          if [ "${{ matrix.type }}" == "scratch" ]; then
            TAGS="${TAGS},${HUB_IMAGE}:latest"
            TAGS="${TAGS},${GHCR_IMAGE}:latest"
          else
            TAGS="${TAGS},${HUB_IMAGE}:${{ matrix.type }}"
            TAGS="${TAGS},${GHCR_IMAGE}:${{ matrix.type }}"
          fi
        fi
        echo "::set-output name=version::${VERSION}"
        echo "::set-output name=image_hub::${HUB_IMAGE}"
        echo "::set-output name=image_ghcr::${GHCR_IMAGE}"
        echo "::set-output name=tags::${TAGS}"
        echo "::set-output name=created::$(date -u +'%Y-%m-%dT%H:%M:%SZ')"

    - name: Check out code
      uses: actions/checkout@v3

    # qemu is not needed for Go cross compiling
    # - name: Set up QEMU
    #   uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Install cosign
      uses: sigstore/cosign-installer@main
    
    - name: Login to DockerHub
      if: github.repository_owner == 'regclient'
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Login to GHCR
      if: github.repository_owner == 'regclient'
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ secrets.GHCR_USERNAME }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v3
      id: build
      with:
        context: .
        file: ./build/Dockerfile.${{ matrix.image }}.buildkit
        platforms: linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x
        target: release-${{ matrix.type }}
        outputs: type=oci,dest=output/${{matrix.image}}-${{matrix.type}}.tar
        labels: |
          org.opencontainers.image.created=${{ steps.prep.outputs.created }}
          org.opencontainers.image.source=${{ github.repositoryUrl }}
          org.opencontainers.image.version=${{ steps.prep.outputs.version }}
          org.opencontainers.image.revision=${{ github.sha }}

    # Dogfooding, use regctl to modify regclient images to improve reproducibility
    - name: Install regctl
      uses: regclient/actions/regctl-installer@main
      if: github.event_name != 'pull_request' && github.repository_owner == 'regclient'
      with:
        release: main

    - name: Mutate
      if: github.event_name != 'pull_request' && github.repository_owner == 'regclient'
      id: mutate
      run: |
        vcs_date="$(date -d "@$(git log -1 --format=%at)" +%Y-%m-%dT%H:%M:%SZ --utc)"
        base_name=""
        mkdir -p "output/${{matrix.image}}"
        if [ "${{matrix.type}}" = "alpine" ]; then
          base_name="alpine:3"
          base_digest="$(regctl image digest "${base_name}")"
        fi
        # mutate the image locally
        local_tag="ocidir://output/${{matrix.image}}:${{matrix.type}}"
        echo "Loading ${local_tag} from output/${{matrix.image}}-${{matrix.type}}.tar"
        regctl image import "${local_tag}" "output/${{matrix.image}}-${{matrix.type}}.tar"
        regctl image mod "${local_tag}" --replace \
          --time-max "${vcs_date}" \
          --annotation "oci.opencontainers.image.created=${vcs_date}" \
          --annotation "oci.opencontainers.image.source=${{ github.repositoryUrl }}" \
          --annotation "oci.opencontainers.image.revision=${{ github.sha }}"
        if [ -n "$base_name" ] && [ -n "$base_digest" ]; then
          regctl image mod "${local_tag}" --replace \
            --annotation "oci.opencontainers.image.base.name=${base_name}" \
            --annotation "oci.opencontainers.image.base.digest=${base_digest}"
        fi
        # loop over the tags
        for tag in $(echo ${{ steps.prep.outputs.tags }} | tr , ' '); do
          echo "Updating ${tag}"
          regctl image copy "${local_tag}" "${tag}"
        done
        echo "::set-output name=digest::$(regctl image digest ${local_tag})"

    - name: Sign the container image
      if: github.event_name != 'pull_request' && github.repository_owner == 'regclient'
      env:
        # experimental support needed for GitHub OIDC signing
        COSIGN_EXPERIMENTAL: "true"
      run: |
        cosign sign ${{ steps.prep.outputs.image_hub }}@${{ steps.mutate.outputs.digest }}
        cosign sign ${{ steps.prep.outputs.image_ghcr }}@${{ steps.mutate.outputs.digest }}
